body {
	font-family: Arek, Georgia, serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	color: black;
	max-width: 1400px;
}

/**************************
HEADER
**************************/

header {
	height: 60px;
/*	background-color: #f1c40f;
*/	padding: 20px;
	margin-bottom: 40px;
	background-color: white;
	color: black;
	width: 100%;
	position: fixed;
}

header h1 {
	font-size: 2rem;
	padding-left: 20px;
	float: left;
	line-height: 1rem;
}

nav {
	/*display: inline-block;
	text-align: right;*/
	float: right;
	text-align: right;
	line-height: 1rem;
	padding: 20px;
	margin-right: 20px;
}

nav a {
/*	padding: 0.8em;
*/	text-decoration: none;
	color: inherit;
}

.selected {
	border-bottom: solid 0.2em #f1c40f;
}


/**************************
MAIN
**************************/

/**************************
project close-up
**************************/

/*why is the image not found?
why can't i get the divs to work and float properly?*/

#main {
	padding-top: 120px;
}

.hidden {
	display: none;
}

.gallery-wrapper {
height: 600px;
}

.gallery {
/*width: 60%;*/
width: 60%;
float: left;
}

.gallery img {
width: 90%;
max-height: 600px;

/*max-width: 700px;
*/}

.gallery-info {
width: 30%;
float: left;
padding-left: 10px;
}

.close {
	color: black;
	position: relative;
	float: left;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding: 25px;
}
.fa, .fa-times {
	color: black;
	float: right;
	font-size: 30px;
	width: 50px;
	height: 50px;
	z-index: 2;
}

/*************
THIS NEXT PART I ADAPTED FROM HERE: 
https://www.w3schools.com/howto/howto_js_slideshow.asp
*************/

	.prev, .next {
	  cursor: pointer;
	  position: absolute;
/*	  top: 50%;
*/	  width: auto;
	  margin-top: 0;
	  padding: 16px;
	  color: black;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  z-index: 3;
	}

	/* Position the "next button" to the right */
	.next {
	  margin-left: 50px;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,1);
	}

	/* The dots/bullets/indicators */
/*	.dot {
	  clear: both;
	  cursor: pointer;
	  height: 13px;
	  width: 13px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #717171;
	}*/

/*****************/

h2 {
font-size: 2.5rem;
font-family: "franklin-gothic-urw", sans-serif;
font-weight: 700;
line-height: 1em;
border-top: solid black 0.2em;
padding-top: 0.8em;
}

h3 {
font-size: 1.1rem;
font-family: "franklin-gothic-urw", sans-serif;
line-height: 1.2em;
font-weight: 400;
padding: 0.1em;
margin: 0;
}

h4 {
border-bottom: solid black 0.2rem;
padding-top: 1rem;
}

p {
font-size: 1rem;
font-family: Arek, serif;
line-height: 1.5em;
}


#wrapper {
	padding: 40px;
	width: 100%;
}

.thumbnail {
	display: inline-flex;
	margin: 0 auto;
	width: 30%;
	padding: 10px;
}

p a {
	color: inherit;
	text-decoration: none;
	border-bottom: solid 0.2em #f1c40f;
}

li a {
	color: inherit;
	text-decoration: none;
	border-bottom: solid 0.2em #f1c40f;
}

/**********
MORE
**********/
.more {
	float: left;
	width: 25%;
	margin-top: 70px;
	padding: 40px;
}

ul {
	padding-left: 0;
	list-style-type: square;
}

li {
	padding-top: 10px;
}


/**********
CONTACT
**********/

#contact {
max-width: 500px;
padding-top: 200px;
padding-left: 200px;
margin: 0;
}

#contact p {
font-family: Arek, serif;
font-size: 30px;
color: black;
}

/************
ABOUT
************/

#portrait {
	max-width: 400px;
	padding: 60px;
	float: left;
}

#about {
width: 30%;
float: left;
padding-top: 70px;
padding-left: 20px;
}

/*************
RESPONSIVE STUFF
*************/

@media only screen and (max-width: 800px) {
	nav {
		float: none;
		clear: both;
		text-align: left;
	}
	.gallery {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.close {
		float: none;
		font-size: 2rem;
		position: fixed;
		top: 30px;
		right: 30px;
		z-index: 3;
		padding: 30px;
	}
	.gallery-info {
		float: none;
		width: 80%;
		margin: 2rem auto;
	}
	.gallery img {
		width: 100%;
	}

	* {
		font-size: 12px;
	}

	.more {
		float: none;
		width: 80%;
		margin: 2rem auto;
	}

	#portrait {
		float: none;
		padding: 20px;
		margin: 2rem auto;

	}

	#about {
		float: none;
		width: 80%;
		margin: 2rem auto;
	}

}

